<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>μƒμ„Ένμ΄μ§€</title>
  </head>
  <link rel="stylesheet" href="/static/moim_detail.css" type="text/css" />
  <script
    src="https://code.jquery.com/jquery-3.7.1.min.js"
    integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo="
    crossorigin="anonymous"
  ></script>
  <script src="/static/moim_detail.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>μƒμ„Ένμ΄μ§€</title>
  </head>
  <link rel="stylesheet" href="/static/moim_detail.css" type="text/css" />
  <script
    src="https://code.jquery.com/jquery-3.7.1.min.js"
    integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo="
    crossorigin="anonymous"
  ></script>
  <script src="/static/moimdetail.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>μƒμ„Ένμ΄μ§€</title>
</head>
<link rel="stylesheet" href="/static/style.css" type="text/css" />
<link rel="stylesheet" href="/static/moim_detail.css" type="text/css" />
<script src="https://code.jquery.com/jquery-3.7.1.min.js" integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo=" crossorigin="anonymous"></script>
<script src="/static/moim_detail.js"></script>
<script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>

<body>
  <header>
    <div class="logo">
      <!-- λ΅κ³  -->
      <a href="/">MOiM</a>
    </div>
    <div class="setting">
        <div>
            <span onclick="location.href='/moim/moims'">β†</span>
        </div>
    </div>
  </header>
  <section>
    <div class="moim">
      <img src="#" alt=""><br>
      <div style="width: 80vw; display: flex; justify-content: space-between;">
      <h3><%= moim[0].title %></h3>
      <button class="dibsMoim" onclick="DibsMoim()">β™΅</button>
        </div>
      </div>
        <table>
          <tbody>
            <tr>
                <td id="col1">μ¥μ†</td>
                <td id="col2"><%= moim[0].location %></td>
            </tr>
            <tr>
                <td id="col1">μΌμ‹</td>
                <td id="col2"><%= moim[0].even_date %></td>
            </tr>
            <tr>
                <td id="col1">λ¨μ§‘ κΈ°κ°„</td>
                <td id="col2"><%= moim[0].expiration_date %></td>
            </tr>

            <tr>
                <td id="col1">λ¨μ§‘ μΈμ›</td>
                <td id="col2"><span><%= detail[0].min %> ~ <%= moim[0].max_people %></span><button type="button" onclick="showPPL()">π‘¥ <%= moimcount[0].moim_count %> </button></td>
            </tr>
            <!-- μ°Έμ—¬ν•λ” κ²½μ° detail μ •λ³΄ μ¶”κ°€ -->
            <% if (accession == true) { %>
            <tr>
              <td id="col1">λ‚΄μ©</td>
              <td id="col2"><%= detail[0].content %></td>
            </tr>

            <% if (moim[0].nickname == user.nickname ) { %>
            <button
              class="apply1"
              onclick="moim_distory('<%=moim[0].nickname%>', '<%=moim[0].moim_id%>')"
            >
              λ¨μ„ μ‚­μ 
            </button>
            <button class="apply2" onclick="moim_correction('<%=moim[0].moim_id%>')">λ¨μ„ μμ •</button>
            <% } else { %>
            <button class="apply" onclick="moimset_dis('<%=moim[0].moim_id%>')">
              λ¨μ„ νƒν‡΄
            </button>
            <% } %> <% } else { %> <% if (moimcount[0].moim_count <
            moim[0].max_people) { %>
            <button class="apply" onclick="moimset('<%=moim[0].moim_id%>')">
              μ°Έμ—¬ν•κΈ°
            </button>
            <% } else {%>
            <div class="apply">μ •μ› μ΄κ³Ό</div>
            <% } %> <% } %>
          </tbody>
        </table>
        <br />
        <br />
        <br />
        <br />
      </div>
  </section>
</body>
    <script>
    </script>
  </body>
</html>
