<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>상세페이지</title>
</head>
<link rel="stylesheet" href="/static/moim_detail.css" type="text/css" />
<script src="https://code.jquery.com/jquery-3.7.1.min.js" integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo=" crossorigin="anonymous"></script>
<script src="/static/moim_detail.js"></script>
<script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>

<body>
  <header>
    <div class="logo">
      <!-- 로고 -->
      <a href="/">MOiM</a>
    </div>
    <div class="setting">
        <div>
            <span onclick="location.href='/moim/moims'">←</span>
        </div>
    </div>
  </header>
  <section>
    <div class="moim">
      <img src="#" alt=""><br>
      <h3><%= data.title %></h3>
      <table>
        <tbody>
            <tr>
                <td id="col1">장소</td>
                <td id="col2"><%= data.location %></td>
            </tr>
            <tr>
                <td id="col1">일시</td>
                <td id="col2"><%= data.even_date %></td>
            </tr>
            <tr>
                <td id="col1">모집 기간</td>
                <td id="col2"><%= data.expiration_date %></td>
            </tr>
            <tr>
                <td id="col1">모집 인원</td>
                <td id="col2"><span>5 ~ <%= data.max_people %> </span><button type="button" onclick="showPPL()">👥</button></td>
            </tr>
            <tr>
                <!-- 참여하는 경우 detail 정보 추가 -->
            </tr>
        </tbody>
      </table>
    </div>

    <div class="apply" onclick="apply()">
      <span>참여하기</span>
    </div>
  </section>
</body>

</html>