<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>모임 전체 리스트 호출 페이지</title>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <script src="/static/moim.js"></script>
  </head>
  <style>
    table,
    th,
    td {
      border: 1px solid black;
    }
  </style>
  <body>
    <% let count = 0 %>
    <table>
      <% for( let i = 0; i < data.length; i++ ) { %>

      <tr>
        <!-- 모임 iD를 통한 세부 내역 테이블 이동 -->
        <td>
          <a href="#" onclick="move('<%=data[i].moim_id %>');"> <%= i+1 %></a>
        </td>
        <td><%= data[i].location %></td>
        <td><%= data[i].category %></td>
        <td><img src="<%= data[i].represent_img %>" alt="" /></td>
        <td><%= data[i].title %></td>
        <td>
          <% if (data[i].on_line == true) { %> 온라인 <% } %> <% if
          (data[i].on_line == false) { %> 오프라인 <% } %>
        </td>
        <td>
          <% for( let j = 0; j < moimcount.length; j++ ) { %> <% if
          (moimcount[j].moim_id == data[i].moim_id) { %> <% count =
          moimcount[j].moim_count %> <% } %> <% } %> <%= count %>
        </td>
        <td><%= data[i].max_people %></td>
        <td><%= data[i].expiration_date %></td>
        <td><%= data[i].even_date %></td>
      </tr>
      <% count = 0; %> <% } %>
    </table>
  </body>
</html>
